@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0f172a;
  }

  ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}
